* {
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    /* display: grid; */
    /* grid-template-rows: 1fr auto; */
    line-height: 200%;
    /* min-height: 100%; */
}

/* Submit button on the Contact page */
button {
    background-color: #4aaaa5;
    color: #ffffff;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    /* grid-row-start: 2; */
    /* grid-row-end: 3; */
    /* bottom: 0;
    position: fixed; */
    text-align: center;
    /* width: 100%; */
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 24px;
    padding: 20px;
}

h2  {
    color: #4aaaa5;
}

h3 {
    color: #ffffff;
}

header {
    background-color: #ffffff;
    border-bottom: 10px solid pink;
    box-sizing: border-box;
    margin: auto;
}
/*
html {
    height: 100%;
}
*/
img {
    height: 308px;
    width: 232px;
}

input {
    /* Make the input fields stretch across the screen */
    height: 24px;
    width: 100%;
}

input.message {
    /* Make the message text box especially tall */
    height: 144px;
}

li {
    display: inline;
}
 
/* Photo on the About page */
.bio-image {
    float: left;
    padding-right: 10px;
}

.main-content {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    margin: auto;
    padding: 20px;
    width: 960px;
}

.name {
    float: left;
}

.name-and-navigation {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto;
    width: 960px;
}

/* Links in the upper-right corner */
.navigation {
    float: right; 
    padding-top: 26px;
}

.portfolio-container {
    position: relative;
}

.portfolio-image {
    position: relative;
}

.portfolio-label {
    bottom: 50px;
    background-color: #4aaaa5;
    position: absolute;
    text-align: center;
    width: 232px;
}

.portfolio-top-middle {
    position: absolute;
    right: 0;
}