* {
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    line-height: 200%;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    font-size: 24px;
    padding: 20px;
}

h2, h3 {
    color: #4aaaa5;
}

header {
    background-color: #ffffff;
    margin: auto;
    width: 956px;
}

img {
    height: 308px;
    width: 232px;
}

li {
    display: inline;
}
 
.bio-image {
    float: left;
    padding-right: 10px;
}

.main-content {
    background-color: #ffffff;
    /* border-color: #dddddd; */
    border-color: black;
    border-width: 20px;
    margin: auto;
    width: 956px;
}